{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "project": [
      "tsconfig.json"
    ],
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "uno.config.ts",
    "postcss.config.js",
    "markdown.config.ts",
    "vite.config.js",
    "highlighter.ts",
    "src/resources.d.ts",
    "tailwind.config.js",
    "marked.config.ts"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/quotes": [
      "error",
      "double"
    ],
    "class-methods-use-this": 0,
    "import/prefer-default-export": 0,
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-param-reassign": 0,
    "quotes": 0,
    "@typescript-eslint/no-empty-interface": 0
  }
}