<div class=":uno: flex-col mx-auto lg:w-1/2">
    <div class=":uno: flex items-center px-4 py-1 mx-auto shadow-md bg-indigo-50">
        <span class=":uno: px-2 py-1 font-black text-white uppercase bg-indigo-500 rounded shadow-md">Quickstart</span>
        <input type="text" class=":uno: flex w-full p-4 focus:outline-none bg-indigo-50" value.bind="query"
            input.trigger="handleInputChange()" />
        <i class="far fa-search"></i>
    </div>
    <div class=":uno: flex justify-end my-2 text-gray-300 hover:text-indigo-500">
        <a href="https://www.algolia.com/" external aria-label="Search by Algolia" rel="noopener noreferrer">
            <i class=":uno: mr-2 fab fa-algolia"></i> Algolia
        </a>
    </div>
</div>