<div class=":uno: flex-wrap justify-center h-18 text-center md:flex fixed mx-auto left-0 right-0 bg-white top-0 border-b-2"
    id="tab-navigator">
    <div class=":uno: mt-8">
        <a load="/" class=":uno: p-4 text-gray-500 border-b-2 focus:outline-none hover:border-indigo-200">
            <button class=":uno: cursor-pointer md:w-48 focus:outline-none">
                <i class="md:mr-3 fa-solid fa-arrow-left"></i> <span class="hidden md:inline-block">Back</span>
            </button>
        </a>
        <a load="start" class=":uno: p-4 text-gray-500 border-b-2 focus:outline-none hover:border-indigo-200">
            <button class=":uno: cursor-pointer md:w-48 focus:outline-none">
                <i class=":uno: md:mr-3 fa-solid fa-star text-yellow-500"></i> <span
                    class=":uno: hidden md:inline-block">Start</span>
            </button>
        </a>
        <a load="docs" class=":uno: p-4 text-gray-500 border-b-2 focus:outline-none hover:border-indigo-200">
            <button class=":uno: cursor-pointer md:w-48 focus:outline-none">
                <i class=":uno: md:mr-3 fa-solid fa-book-open-reader text-blue-500"></i><span
                    class=":uno: hidden md:inline-block">Docs</span>
            </button>
        </a>
    </div>
</div>