@unocss;

.active {
    border-color: rgb(99, 102, 241);
    font-weight: bold;
}

.active-header {
    color: rgb(99, 102, 241);
}

#in-this-document span {
    border-left: rgb(224, 224, 224) 6px solid;
    position: absolute;
    left: -25px;
    height: 20px;
}

#in-this-document li:first-child span {
    border-radius: 15px 15px 0px 0px;
}

#in-this-document li:last-child span {
    border-radius: 0px 0px 15px 15px;
}

#in-this-document .active-header span {
    border-left: rgb(99, 102, 241) 6px solid;
}

#in-this-document li {
    margin: 0px !important;
    padding: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Varela', sans-serif;
}

.level-2 {
    margin-left: 0px;
}

.level-3 {
    margin-left: 5px;
}

.level-4 {
    margin-left: 10px;
}

.level-5 {
    margin-left: 15px;
}

.level-6 {
    margin-left: 20px;
}

/* code,
pre {
    font-family: 'Cascadia Code' !important;
} */

img:not([src]) {
    visibility: hidden;
}

.code-block {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.code-block:not(.code-active) {
    display: none;
}

.tab ul {
    display: flex;
    list-style: none;
}

.tab li {
    display: inline-flex;
    padding: 10px;
    background-color: rgb(248, 248, 248);
    user-select: none;
}

.code-tab.tab-active {
    background-color: rgb(230, 230, 230);
}

.code-tab:hover {
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}